.container {
  background-image: url(../img/fondo.jpg);
  opacity: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-attachment: scroll;
  background-size: cover;

  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  place-items: center;
  width: 100%;
  height: 120vh;
}
.card{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.048),rgba(255,255,255,0));
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255,2555,255,0.18);
  box-shadow: 0 8px 32px rgba(139, 127, 127, 0.37);
  height: 100%;
}

.header {
  text-align: center;
}
  
.header img {
  max-width: 30%;
  border-radius: 10%;
  height: auto;
  margin-bottom: 20px;
}
  

#efecto{
  color: #000;
}
  a:link{
  text-decoration: none;
}
#efecto:hover:hover {
  color:rgb(0, 153, 153);
  cursor: pointer;
}

#sin_linea{
  text-decoration:solid;
}

.box-eye{
  position: relative;

}
.box-eye button{
  border: none;
  position: absolute;
}
.changecontra{
  position: absolute;
  top: 12px;
  left: 260px;
  cursor: pointer;
}

.alerta{
  text-align: center;
  color: red;
}

.success{
  text-align: center;
  color: rgb(43, 255, 0);
}